<form action="/movies" method="get">
  <label for="query">Find a Movie! </label>
  <input type="text" name="query" id="query" />
  <input type="submit" value="Search" />
</form>

<ul>
  <% @data.each_with_index do |movie, i| %>
    <% if i >= ((@pagename.to_i-1) * 20) && i < (((@pagename.to_i-1) * 20) + 20) %>
      <li><a href="/movies/<%= movie["id"] %>"><%= movie["title"] %></a></li>
    <% end %>
  <% end %>
</ul>

<% if !@query.nil? %>
  <ul>
    <% @results.reverse_each do |movie| %>
      <li><a href="/movies/<%= movie.keys[0] %>"><%= movie.values[0] %></a> - (<%= movie.keys[1] %>% Match) [
      <% movie.values[1].each do |word| %>
        <%= word.capitalize %><% if movie.values[1][-1] != word %>, <% end %>
      <% end %>]</li>
    <% end %>
  </ul>
<% end %>

<% if !@pagename.nil? %>
  <% (@data.size/20.0).ceil.times do |i| %>
    <a href="/movies?page=<%= i+1 %>"><%= i+1 %></a><% if i+1 < (@data.size/20.0).ceil %> | <% end %>
  <% end %>
<% end %>
