<ul>
  <li>Title: <%= @movie["title"] %></li>
  <li>Year Released: <%= @movie["year"] %></li>
  <li>Synopsis: <%= @movie["synopsis"] %></li>
  <li>Rating: <%= @movie["rating"] %></li>
  <li>Genre: <%= @movie["genre"] %></li>
  <li>Studio: <%= @movie["studio"] %></li>
</ul>
